In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import TargetEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
import xgboost as xgb
from amplpy import AMPL, ampl_notebook
from joblib import load, dump
import sys
sys.path.append("../src")
from utils import cost_prediction

import warnings
warnings.filterwarnings("ignore")
pd.set_option("future.no_silent_downcasting", True) # Prevent silent data type changes during operations for future compatibility

Instantiate the AMPL object

In [28]:
ampl = ampl_notebook(
    modules=["highs","coin"], # solver to be used
    license_uuid="d2b35988-195b-44a4-bca2-fd80a770586f" # license key
)

Licensed to AMPL Community Edition License for <hchoi0309@gmail.com>.

In [29]:
%%ampl_eval
reset;

Define the model

In [30]:
%%ampl_eval
reset;  # Clear any previous model

# Sets
set ROUTES;                  # Set of routes
set AIRPLANE_TYPES;          # Set of airplane types

# Parameters
param a {ROUTES} >= 0;           # Base fare price coefficient
param b {ROUTES} >= 0;           # Price elasticity coefficient
param y {ROUTES};               # Yearly effect coefficient
param c {ROUTES} >= 0;          # Cost per seat
param N {ROUTES} >= 0;          # Predicted daily passengers
param C {AIRPLANE_TYPES} >= 0;  # Capacity of each airplane type
param R {AIRPLANE_TYPES} >= 0;  # Total airplanes of each type
param t >= 0, <= 1;            # Target market share
param year >= 0;               # Current year

# Variables
var x {ROUTES} >= 0, integer;     # Daily number of seats sold
var r {ROUTES, AIRPLANE_TYPES} >= 0, integer;  # Number of airplanes assigned

# Objective: Maximize profit
maximize Profit: 
    sum {i in ROUTES} (
        x[i] * (a[i] * exp(-b[i] * x[i] + y[i] * year) - c[i])
    );

# Constraints
subject to DemandLimit {i in ROUTES}:
    x[i] <= t * N[i];

subject to MinCapacity {i in ROUTES}:
    x[i] >= sum {k in AIRPLANE_TYPES} (0.7 * C[k] * r[i,k]);

subject to MaxCapacity {i in ROUTES}:
    x[i] <= sum {k in AIRPLANE_TYPES} (C[k] * r[i,k]);

subject to FleetLimit {k in AIRPLANE_TYPES}:
    sum {i in ROUTES} r[i,k] <= R[k];

In [31]:
allegiant_df = pd.read_csv("../data/allegiant_routes_info_transformed.csv")
allegiant_df["year"] = 2019
allegiant_df["quarter"] = 4
allegiant_df.head()

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4

In [32]:
allegiant_df["cost"] = cost_prediction(allegiant_df, 2019)
display(allegiant_df.head())

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter,cost
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.94394
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.59380
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.76609
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.94116
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4,107.14284

In [33]:
preprocessing_pipeline = load("../models/preprocessing_pipeline.joblib")
feature_names = load("../models/feature_names.joblib")
allegiant_transformed_df = preprocessing_pipeline.transform(allegiant_df)
allegiant_transformed_df = pd.DataFrame(allegiant_transformed_df, columns=feature_names)
allegiant_transformed_df.head()

,quarter_1,quarter_2,quarter_3,quarter_4,city_1,city_2,airport_1,airport_2,state_1,state_2,year,distance,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2
0,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.216246,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
1,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.213401,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
2,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.857693,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
3,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.856271,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
4,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,0.545563,-0.117519,-1.082934,-1.044005,1.068477,1.204085,-0.822132,-0.826930,-0.916193,-0.538597,-0.800943,-0.465810,0.186579,-0.091321,0.745495

In [34]:
demand_model = load("../models/demand_prediction_model.joblib")
allegiant_df["predicted_passengers"] = np.abs(demand_model.predict(allegiant_transformed_df))
allegiant_df["route"] = allegiant_df["airport_1"] + "_" + allegiant_df["airport_2"]
allegiant_df = allegiant_df[["route", "predicted_passengers", "cost"]]
display(allegiant_df.head())

     route  predicted_passengers       cost
0  AUS_IAD            314.190399  234.94394
1  AUS_IAD            314.190399  234.59380
2  BNA_IAD            220.477982  102.76609
3  BNA_IAD            220.477982  102.94116
4  BNA_PIE             55.914410  107.14284

In [35]:
fare_model = load("../models/route_fare_models.joblib")

allegiant_df["a"] = allegiant_df["route"].apply(lambda x: fare_model[x]["a"]).apply(lambda x: max(x, 0))
allegiant_df["b"] = allegiant_df["route"].apply(lambda x: fare_model[x]["b"]).apply(lambda x: max(x, 0))
allegiant_df["y"] = allegiant_df["route"].apply(lambda x: fare_model[x]["y"])

display(allegiant_df.head())

     route  predicted_passengers       cost             a        b         y
0  AUS_IAD            314.190399  234.94394  8.181866e+04  0.00015 -0.002792
1  AUS_IAD            314.190399  234.59380  8.181866e+04  0.00015 -0.002792
2  BNA_IAD            220.477982  102.76609  1.789587e-13  0.00170  0.017371
3  BNA_IAD            220.477982  102.94116  1.789587e-13  0.00170  0.017371
4  BNA_PIE             55.914410  107.14284  1.795778e+90  0.00000 -0.100730

In [36]:
fleet_df = pd.read_csv("../data/allegiant_fleet.csv")
display(fleet_df)

        Aircraft Type  Number of Aircraft  Seats
0     Airbus A319-100                  34    156
1   Airbus A320-200 A                  14    177
2   Airbus A320-200 B                  78    186
3  Boeing 737 MAX 200                   2    190

Define the problem

In [26]:
# 2. Load the data into AMPL
# Assuming allegiant_df and fleet_df are your dataframes containing the necessary data
ampl.set["ROUTES"] = allegiant_df["route"].unique()
ampl.set["AIRPLANE_TYPES"] = fleet_df["Aircraft Type"]

# Load parameters
ampl.param["a"] = {row["route"]: row["a"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["b"] = {row["route"]: row["b"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["y"] = {row["route"]: row["y"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["c"] = {row["route"]: row["cost"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["N"] = {row["route"]: row["predicted_passengers"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}

ampl.param["C"] = {row["Aircraft Type"]: row["Seats"] for _, row in fleet_df.iterrows()}
ampl.param["R"] = {row["Aircraft Type"]: row["Number of Aircraft"] for _, row in fleet_df.iterrows()}

ampl.param["t"] = 0.8  # Target market share (80%)
ampl.param["year"] = 2019  # Current year

# 3. Set solver and solve
ampl.option["solver"] = "ipopt"  # Use ipopt for nonlinear problems
ampl.solve()

# 4. Retrieve and display results
try:
    # Get results
    x_values = ampl.getVariable("x").getValues().toPandas()
    r_values = ampl.getVariable("r").getValues().toPandas()
    profit = ampl.getObjective("Profit").value()

    print("Optimal seat allocation:")
    print(x_values)
    print("\nAircraft assignment:")
    print(r_values)
    print(f"\nTotal profit: ${profit:,.2f}")

except Exception as e:
    print("Error solving the model:")
    print(e)
    
    # Debug information
    print("\nParameter values:")
    print("Routes:", list(ampl.set["ROUTES"]))
    print("N values:", ampl.param["N"].getValues().toPandas())
    print("a values:", ampl.param["a"].getValues().toPandas())

Ipopt 3.12.13:
==> Warning: Treating 159 binary and 753 integer variables as continous.


******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:        0
Number of nonzeros in inequality constraint Jacobian.:     2549
Number of nonzeros in Lagrangian Hessian.............:      108

Total number of variables............................:      912
                     variables with only lower bounds:        0
                variables with lower and upper bounds:      912
                     variables with only upper bounds:        0
Total number of equality constraints.................:        0
Total number of inequality constraints...............:      378
        inequality constraints with only lower bounds:      187
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:      191

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0 -2.7436825e+01 4.95e+00 9.77e+01  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1 -2.5728106e+02 4.61e+00 9.67e+01  -1.0 3.86e+00    -  1.00e-02 6.67e-02f  1
   2 -2.4819951e+04 1.30e+00 4.40e+01  -1.0 4.36e+01    -  2.41e-03 6.99e-01f  1
   3 -3.0733473e+04 1.22e+00 4.15e+01  -1.0 4.89e+01    -  2.86e-02 5.65e-02f  1
   4 -7.3745334e+04 1.10e+00 3.76e+01  -1.0 4.77e+02    -  5.57e-03 9.63e-02f  1
   5 -1.3951449e+05 1.03e+00 3.55e+01  -1.0 1.11e+03    -  1.64e-02 5.57e-02f  1
   6 -2.4781290e+05 9.82e-01 3.38e+01  -1.0 3.80e+03    -  8.47e-03 4.58e-02f  1
   7 -3.6550622e+05 9.45e-01 3.26e+01  -1.0 4.27e+03    -  1.39e-02 3.52e-02f  1
   8 -5.9712627e+05 8.90e-01 3.08e+01  -1.0 4.40e+03    -  1.62e-02 5.46e-02f  1
   9 -7.5258348e+05 8.52e-01 2.96e+01  -1.0 2.84e+03    -  1.35e-02 3.96e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10 -1.0986017e+06 7.97e-01 2.78e+01  -1.0 6.67e+03    -  8.07e-03 6.08e-02f  1
  11 -1.5571532e+06 7.28e-01 2.56e+01  -1.0 7.01e+03    -  2.06e-02 7.98e-02f  1
  12 -1.7599729e+06 7.01e-01 2.54e+01  -1.0 6.20e+03    -  1.38e-02 3.40e-02f  1
  13 -1.7831220e+06 6.97e-01 2.50e+01  -1.0 8.55e+03    -  7.59e-03 4.35e-03f  1
  14 -1.8931108e+06 6.81e-01 2.57e+01  -1.0 1.12e+04    -  3.81e-03 1.71e-02f  1
  15 -1.9752882e+06 6.67e-01 2.61e+01  -1.0 1.09e+04    -  4.91e-03 1.39e-02f  1
  16 -2.0201758e+06 6.54e-01 2.60e+01  -1.0 7.79e+03    -  9.66e-03 1.10e-02f  1
  17 -2.0922206e+06 6.31e-01 2.64e+01  -1.0 6.61e+03    -  8.42e-03 1.86e-02f  1
  18 -2.1658385e+06 5.99e-01 2.60e+01  -1.0 5.00e+03    -  2.15e-02 2.30e-02f  1
  19 -2.2257489e+06 5.40e-01 3.07e+01  -1.0 2.28e+03    -  2.14e-02 3.37e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20 -2.2495362e+06 4.37e-01 6.61e+01  -1.0 8.53e+02    -  1.59e-02 4.50e-02f  1
  21 -2.2650379e+06 2.93e-01 7.66e+01  -1.0 8.01e+02    -  4.69e-02 5.80e-02f  1
  22 -2.2802024e+06 1.45e-01 1.89e+02  -1.0 1.02e+03    -  2.91e-01 8.33e-02f  1
  23 -2.2998102e+06 1.05e-01 4.56e+02  -1.0 1.60e+03    -  4.78e-01 1.42e-01f  1
  24 -2.3077755e+06 9.85e-02 6.15e+02  -1.0 1.63e+03    -  5.00e-01 7.46e-02f  1
  25 -2.3204547e+06 8.87e-02 5.61e+02  -1.0 4.12e+03    -  3.09e-01 1.46e-01f  1
  26 -2.3245426e+06 8.54e-02 6.00e+02  -1.0 2.53e+03    -  5.12e-01 6.07e-02f  1
  27 -2.3339315e+06 7.74e-02 5.03e+02  -1.0 3.02e+03    -  1.98e-01 1.65e-01f  1
  28 -2.3372725e+06 7.43e-02 4.89e+02  -1.0 2.93e+03    -  4.32e-01 7.64e-02f  1
  29 -2.3408761e+06 7.03e-02 4.85e+02  -1.0 9.12e+02    -  4.86e-01 1.02e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30 -2.3481060e+06 6.15e-02 3.71e+02  -1.0 2.44e+03    -  2.86e-01 2.47e-01f  1
  31 -2.3506921e+06 5.77e-02 3.60e+02  -1.0 1.01e+03    -  3.29e-01 1.33e-01f  1
  32 -2.3530826e+06 5.35e-02 4.78e+02  -1.0 1.61e+03    -  9.79e-01 1.53e-01f  1
  33 -2.3543266e+06 5.02e-02 6.44e+02  -1.0 5.60e+02    -  1.00e+00 1.11e-01f  1
  34 -2.3582313e+06 3.27e-02 3.01e+02  -1.0 1.95e+02    -  5.73e-01 5.45e-01f  1
  35 -2.3598917e+06 1.72e-02 3.31e+02  -1.0 2.49e+02    -  9.88e-01 6.61e-01f  1
  36 -2.3604981e+06 0.00e+00 1.66e+02  -1.0 1.18e+02    -  1.00e+00 9.16e-01f  1
  37 -2.3604911e+06 5.43e-04 1.26e+03  -1.0 2.88e+01    -  1.00e+00 6.31e-01f  1
  38 -2.3604820e+06 0.00e+00 8.50e-06  -1.0 1.85e+01    -  1.00e+00 1.00e+00f  1
  39 -2.3613878e+06 0.00e+00 2.51e-01  -2.5 2.22e+01    -  9.86e-01 1.00e+00f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  40 -2.3613924e+06 0.00e+00 1.54e-05  -2.5 1.93e+00    -  1.00e+00 1.00e+00f  1
  41 -2.3614176e+06 0.00e+00 4.11e-06  -3.8 1.16e+00    -  1.00e+00 1.00e+00f  1
  42 -2.3614188e+06 0.00e+00 2.63e+01  -5.7 2.10e-01    -  1.00e+00 8.86e-01f  1
  43 -2.3614189e+06 0.00e+00 7.82e+02  -5.7 9.23e-02    -  1.00e+00 6.51e-01f  1
  44 -2.3614189e+06 0.00e+00 2.55e+01  -5.7 4.44e-02    -  1.00e+00 9.78e-01f  1
  45 -2.3614189e+06 0.00e+00 9.48e-11  -5.7 2.15e-03    -  1.00e+00 1.00e+00f  1
  46 -2.3614190e+06 0.00e+00 4.68e+01  -8.6 7.83e-04    -  1.00e+00 7.51e-01f  1
  47 -2.3614190e+06 0.00e+00 3.02e+01  -8.6 1.74e-04    -  1.00e+00 5.86e-01f  1
  48 -2.3614190e+06 0.00e+00 1.35e+01  -8.6 1.31e-04    -  2.07e-01 5.38e-01f  1
  49 -2.3614190e+06 0.00e+00 5.13e+00  -8.6 1.08e-04    -  5.44e-01 6.16e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  50 -2.3614190e+06 0.00e+00 1.34e+00  -8.6 1.10e-04    -  8.41e-01 7.48e-01f  1
  51 -2.3614190e+06 0.00e+00 4.82e-13  -8.6 1.13e-04    -  1.00e+00 1.00e+00f  1

Number of Iterations....: 51

                                   (scaled)                 (unscaled)
Objective...............:  -2.4972122894765050e+05   -2.3614189551962749e+06
Dual infeasibility......:   4.8239302708221601e-13    4.5616147365879456e-12
Constraint violation....:   0.0000000000000000e+00    0.0000000000000000e+00
Complementarity.........:   3.1061831975581689e-09    2.9372752616733614e-08
Overall NLP error.......:   3.1061831975581689e-09    2.9372752616733614e-08


Number of objective function evaluations             = 52
Number of objective gradient evaluations             = 52
Number of equality constraint evaluations            = 0
Number of inequality constraint evaluations          = 52
Number of equality constraint Jacobian evaluations   = 0
Number of inequality constraint Jacobian evaluations = 52
Number of Lagrangian Hessian evaluations             = 51
Total CPU secs in IPOPT (w/o function evaluations)   =      0.462
Total CPU secs in NLP function evaluations           =      0.006

EXIT: Optimal Solution Found.

Ipopt 3.12.13: Optimal Solution Found

suffix ipopt_zU_out OUT;
suffix ipopt_zL_out OUT;
Optimal seat allocation:
         x.val
AUS_BOS    0.0
AUS_BUR    0.0
AUS_BWI    0.0
AUS_CAK    0.0
AUS_CLE    0.0
...        ...
SNA_MFR    0.0
SNA_MSO    0.0
SRQ_IAD    0.0
VPS_BWI    0.0
VPS_IAD    0.0

[225 rows x 1 columns]

Aircraft assignment:
                                   r.val
index0  index1
AUS_BOS Airbus A319-100     1.330811e-09
        Airbus A320-200 A   0.000000e+00
        Airbus A320-200 B   0.000000e+00
        Boeing 737 MAX 200  0.000000e+00
AUS_BUR Airbus A319-100     0.000000e+00
...                                  ...
VPS_BWI Boeing 737 MAX 200  0.000000e+00
VPS_IAD Airbus A319-100     0.000000e+00
        Airbus A320-200 A   0.000000e+00
        Airbus A320-200 B   0.000000e+00
        Boeing 737 MAX 200  0.000000e+00

[900 rows x 1 columns]

Total profit: $2,361,418.94

In [37]:
ampl.set["ROUTES"] = allegiant_df["route"].drop_duplicates()
ampl.param["a"] = allegiant_df.set_index("route")["a"]
ampl.param["b"] = allegiant_df.set_index("route")["b"]
ampl.param["y"] = allegiant_df.set_index("route")["y"]
ampl.param["c"] = allegiant_df.set_index("route")["cost"]
ampl.param["N"] = allegiant_df.set_index("route")["predicted_passengers"]

ampl.set["AIRPLANE_TYPES"] = fleet_df["Aircraft Type"]
ampl.param["C"] = fleet_df.groupby("Aircraft Type")["Seats"].first()
ampl.param["R"] = fleet_df.groupby("Aircraft Type")["Number of Aircraft"].first()

ampl.param["t"] = 0.8
ampl.param["year"] = 2019

In [38]:
%%ampl_eval
option solver highs
solve;

In [39]:
# Retrieve results
x = ampl.getVariable("x").getValues().toPandas()
r_assign = ampl.getVariable("r").getValues().toPandas()
profit = ampl.getObjective("Profit").value()

# Display results
print("Optimal Seat Sales (x):")
print(x)

print("\nAirplane Assignments (r_assign):")
print(r_assign)

print(f"\nTotal Profit: {profit}")

Optimal Seat Sales (x):
         x.val
AUS_BOS      0
AUS_BUR      0
AUS_BWI      0
AUS_CAK      0
AUS_CLE      0
...        ...
SNA_MFR      0
SNA_MSO      0
SRQ_IAD      0
VPS_BWI      0
VPS_IAD      0

[225 rows x 1 columns]

Airplane Assignments (r_assign):
                            r.val
index0  index1
AUS_BOS Airbus A319-100         0
        Airbus A320-200 A       0
        Airbus A320-200 B       0
        Boeing 737 MAX 200      0
AUS_BUR Airbus A319-100         0
...                           ...
VPS_BWI Boeing 737 MAX 200      0
VPS_IAD Airbus A319-100         0
        Airbus A320-200 A       0
        Airbus A320-200 B       0
        Boeing 737 MAX 200      0

[900 rows x 1 columns]

Total Profit: 0.0