In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import TargetEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
import xgboost as xgb
from amplpy import AMPL, ampl_notebook
from joblib import load, dump
import sys
sys.path.append("../src")
from utils import cost_prediction

import warnings
warnings.filterwarnings("ignore")
pd.set_option("future.no_silent_downcasting", True) # Prevent silent data type changes during operations for future compatibility

Instantiate the AMPL object

In [2]:
ampl = ampl_notebook(
    modules=["coin"], # solver to be used
    license_uuid="d2b35988-195b-44a4-bca2-fd80a770586f" # license key
)

Licensed to AMPL Community Edition License for <hchoi0309@gmail.com>.

Define the model

In [4]:
%%ampl_eval
reset;  # Clear any previous model

# Sets
set ROUTES;                  # Set of routes
set AIRPLANE_TYPES;          # Set of airplane types

# Parameters
param a {ROUTES} >= 0;           # Base fare price coefficient
param b {ROUTES} >= 0;           # Price elasticity coefficient
param y {ROUTES};               # Yearly effect coefficient
param c {ROUTES} >= 0;          # Cost per seat
param N {ROUTES} >= 0;          # Predicted daily passengers
param C {AIRPLANE_TYPES} >= 0;  # Capacity of each airplane type
param R {AIRPLANE_TYPES} >= 0;  # Total airplanes of each type
param t >= 0, <= 1;            # Target market share
param year >= 0;               # Current year

# Variables
var x {ROUTES} >= 0, integer;     # Daily number of seats sold
var r {ROUTES, AIRPLANE_TYPES} >= 0, integer;  # Number of airplanes assigned

# Objective: Maximize profit
maximize Profit: 
    sum {i in ROUTES} (
        x[i] * (a[i] * exp(-b[i] * x[i] + y[i] * year) - c[i])
    );

# Constraints
subject to DemandLimit {i in ROUTES}:
    x[i] <= t * N[i];

subject to MinCapacity {i in ROUTES}:
    x[i] >= sum {k in AIRPLANE_TYPES} (0.7 * C[k] * r[i,k]);

subject to MaxCapacity {i in ROUTES}:
    x[i] <= sum {k in AIRPLANE_TYPES} (C[k] * r[i,k]);

subject to FleetLimit {k in AIRPLANE_TYPES}:
    sum {i in ROUTES} r[i,k] <= R[k];

In [5]:
allegiant_df = pd.read_csv("../data/allegiant_routes_info_transformed.csv")
allegiant_df["year"] = 2019
allegiant_df["quarter"] = 4
allegiant_df.head()

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4

In [6]:
allegiant_df["cost"] = cost_prediction(allegiant_df, 2019)
display(allegiant_df.head())

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter,cost
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.94394
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.59380
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.76609
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.94116
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4,107.14284

In [7]:
preprocessing_pipeline = load("../models/preprocessing_pipeline.joblib")
feature_names = load("../models/feature_names.joblib")
allegiant_transformed_df = preprocessing_pipeline.transform(allegiant_df)
allegiant_transformed_df = pd.DataFrame(allegiant_transformed_df, columns=feature_names)
allegiant_transformed_df.head()

,quarter_1,quarter_2,quarter_3,quarter_4,city_1,city_2,airport_1,airport_2,state_1,state_2,year,distance,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2
0,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.216246,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
1,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.213401,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
2,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.857693,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
3,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.856271,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
4,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,0.545563,-0.117519,-1.082934,-1.044005,1.068477,1.204085,-0.822132,-0.826930,-0.916193,-0.538597,-0.800943,-0.465810,0.186579,-0.091321,0.745495

In [8]:
demand_model = load("../models/demand_prediction_model.joblib")
allegiant_df["predicted_passengers"] = np.abs(demand_model.predict(allegiant_transformed_df))
allegiant_df["route"] = allegiant_df["airport_1"] + "_" + allegiant_df["airport_2"]
allegiant_df = allegiant_df[["route", "predicted_passengers", "cost"]]
display(allegiant_df.head())

     route  predicted_passengers       cost
0  AUS_IAD            314.190399  234.94394
1  AUS_IAD            314.190399  234.59380
2  BNA_IAD            220.477982  102.76609
3  BNA_IAD            220.477982  102.94116
4  BNA_PIE             55.914410  107.14284

In [9]:
fare_model = load("../models/route_fare_models.joblib")

allegiant_df["a"] = allegiant_df["route"].apply(lambda x: fare_model[x]["a"]).apply(lambda x: max(x, 0))
allegiant_df["b"] = allegiant_df["route"].apply(lambda x: fare_model[x]["b"]).apply(lambda x: max(x, 0))
allegiant_df["y"] = allegiant_df["route"].apply(lambda x: fare_model[x]["y"])

display(allegiant_df.head())

     route  predicted_passengers       cost             a        b         y
0  AUS_IAD            314.190399  234.94394  8.181866e+04  0.00015 -0.002792
1  AUS_IAD            314.190399  234.59380  8.181866e+04  0.00015 -0.002792
2  BNA_IAD            220.477982  102.76609  1.789587e-13  0.00170  0.017371
3  BNA_IAD            220.477982  102.94116  1.789587e-13  0.00170  0.017371
4  BNA_PIE             55.914410  107.14284  1.795778e+90  0.00000 -0.100730

In [10]:
fleet_df = pd.read_csv("../data/allegiant_fleet.csv")
display(fleet_df)

        Aircraft Type  Number of Aircraft  Seats
0     Airbus A319-100                  34    156
1   Airbus A320-200 A                  14    177
2   Airbus A320-200 B                  78    186
3  Boeing 737 MAX 200                   2    190

Define the problem

In [11]:
# Load the data into AMPL
# Assuming allegiant_df and fleet_df are your dataframes containing the necessary data
ampl.set["ROUTES"] = allegiant_df["route"].unique()
ampl.set["AIRPLANE_TYPES"] = fleet_df["Aircraft Type"]

# Load parameters
ampl.param["a"] = {row["route"]: row["a"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["b"] = {row["route"]: row["b"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["y"] = {row["route"]: row["y"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["c"] = {row["route"]: row["cost"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["N"] = {row["route"]: row["predicted_passengers"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}

ampl.param["C"] = {row["Aircraft Type"]: row["Seats"] for _, row in fleet_df.iterrows()}
ampl.param["R"] = {row["Aircraft Type"]: row["Number of Aircraft"] for _, row in fleet_df.iterrows()}

ampl.param["t"] = 0.3  # Target market share (30%)
ampl.param["year"] = 2019  # Year of interest

# Set solver and solve
ampl.option["solver"] = "ipopt"  # Use ipopt for nonlinear optimization
ampl.solve()

# Retrieve and display results
try:
    # Get results
    x_values = ampl.getVariable("x").getValues().toPandas()
    r_values = ampl.getVariable("r").getValues().toPandas()
    profit = ampl.getObjective("Profit").value()

    print("Optimal seat allocation:")
    print(x_values)
    print("\nAircraft assignment:")
    print(r_values)
    print(f"\nTotal profit: ${profit:,.2f}")

except Exception as e:
    print("Error solving the model:")
    print(e)
    
    # Debug information
    print("\nParameter values:")
    print("Routes:", list(ampl.set["ROUTES"]))
    print("N values:", ampl.param["N"].getValues().toPandas())
    print("a values:", ampl.param["a"].getValues().toPandas())

Ipopt 3.12.13:
==> Warning: Treating 180 binary and 442 integer variables as continous.


******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:        0
Number of nonzeros in inequality constraint Jacobian.:     1737
Number of nonzeros in Lagrangian Hessian.............:       66

Total number of variables............................:      622
                     variables with only lower bounds:        0
                variables with lower and upper bounds:      622
                     variables with only upper bounds:        0
Total number of equality constraints.................:        0
Total number of inequality constraints...............:      262
        inequality constraints with only lower bounds:      129
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:      133

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0 -2.6196135e+00 4.95e+00 9.77e+01  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1 -6.6613255e+01 4.89e+00 9.68e+01  -1.0 4.01e+00    -  9.78e-03 1.16e-02f  1
   2 -3.0198006e+03 4.68e+00 9.61e+01  -1.0 1.97e+02    -  1.21e-04 4.31e-02f  1
   3 -2.5256846e+04 4.49e+00 9.23e+01  -1.0 1.13e+03    -  2.45e-03 3.97e-02f  1
   4 -1.2356059e+05 4.16e+00 9.19e+01  -1.0 2.06e+03    -  2.12e-03 7.11e-02f  1
   5 -2.3319537e+05 4.01e+00 9.14e+01  -1.0 4.28e+03    -  6.03e-03 3.42e-02f  1
   6 -3.0905730e+05 3.93e+00 9.08e+01  -1.0 3.25e+03    -  6.56e-03 1.87e-02f  1
   7 -4.1720056e+05 3.85e+00 9.05e+01  -1.0 6.23e+03    -  3.80e-03 2.10e-02f  1
   8 -5.4668710e+05 3.77e+00 8.99e+01  -1.0 9.82e+03    -  6.60e-03 1.91e-02f  1
   9 -7.7561977e+05 3.67e+00 8.97e+01  -1.0 9.39e+03    -  3.56e-03 2.67e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10 -1.1067773e+06 3.54e+00 8.89e+01  -1.0 1.83e+04    -  9.08e-03 3.41e-02f  1
  11 -1.3036857e+06 3.40e+00 8.78e+01  -1.0 7.21e+03    -  1.31e-02 3.84e-02f  1
  12 -1.3609324e+06 3.33e+00 8.70e+01  -1.0 5.75e+03    -  9.72e-03 1.94e-02f  1
  13 -1.3644432e+06 3.32e+00 8.65e+01  -1.0 4.16e+03    -  4.79e-03 1.87e-03f  1
  14 -1.3872094e+06 3.28e+00 8.66e+01  -1.0 8.58e+03    -  3.01e-04 1.08e-02f  1
  15 -1.4188766e+06 3.22e+00 8.62e+01  -1.0 8.22e+03    -  4.46e-03 1.49e-02f  1
  16 -1.4615072e+06 3.14e+00 8.57e+01  -1.0 5.17e+03    -  7.31e-03 2.15e-02f  1
  17 -1.5281096e+06 3.01e+00 8.52e+01  -1.0 5.51e+03    -  7.01e-03 3.69e-02f  1
  18 -1.5876084e+06 2.87e+00 8.34e+01  -1.0 3.80e+03    -  2.23e-02 4.06e-02f  1
  19 -1.6572967e+06 2.65e+00 8.26e+01  -1.0 2.60e+03    -  1.17e-02 6.10e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20 -1.7061244e+06 2.45e+00 8.11e+01  -1.0 9.78e+02    -  1.93e-02 6.00e-02f  1
  21 -1.7345015e+06 2.29e+00 8.06e+01  -1.0 1.13e+03    -  8.08e-03 4.74e-02f  1
  22 -1.7708457e+06 2.04e+00 9.07e+01  -1.0 1.07e+03    -  2.59e-02 7.49e-02f  1
  23 -1.7826447e+06 1.89e+00 9.98e+01  -1.0 1.46e+03    -  7.05e-03 4.13e-02f  1
  24 -1.7929118e+06 1.72e+00 8.74e+01  -1.0 1.28e+03    -  6.36e-02 4.57e-02f  1
  25 -1.8069760e+06 1.23e+00 8.46e+01  -1.0 6.80e+02    -  8.30e-02 9.17e-02f  1
  26 -1.8144704e+06 2.77e-01 8.09e+01  -1.0 4.29e+02    -  9.98e-02 1.05e-01f  1
  27 -1.8159408e+06 1.05e-01 3.25e+02  -1.0 2.53e+02    -  3.08e-01 8.32e-02f  1
  28 -1.8188886e+06 8.65e-02 2.31e+02  -1.0 1.18e+03    -  1.03e-01 1.63e-01f  1
  29 -1.8191603e+06 8.48e-02 4.94e+02  -1.0 8.89e+02    -  4.40e-01 2.18e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30 -1.8195059e+06 8.03e-02 7.18e+02  -1.0 2.42e+02    -  3.84e-01 5.29e-02f  1
  31 -1.8213714e+06 5.58e-02 4.07e+02  -1.0 3.68e+02    -  3.26e-01 3.90e-01f  1
  32 -1.8226424e+06 3.70e-02 2.00e+02  -1.0 2.29e+02    -  9.02e-01 6.84e-01f  1
  33 -1.8227919e+06 3.48e-02 2.82e+02  -1.0 7.56e+01    -  9.95e-01 4.10e-01f  1
  34 -1.8228806e+06 3.21e-02 2.90e+02  -1.0 4.36e+01    -  1.00e+00 4.76e-01f  1
  35 -1.8229267e+06 2.73e-02 5.05e+02  -1.0 1.67e+01    -  1.00e+00 4.85e-01f  1
  36 -1.8229674e+06 1.35e-02 6.11e+02  -1.0 5.81e+00    -  1.00e+00 6.36e-01h  1
  37 -1.8229782e+06 0.00e+00 1.05e+03  -1.0 2.40e+00    -  9.41e-01 7.41e-01h  1
  38 -1.8229649e+06 1.89e-03 1.19e+03  -1.0 6.64e-01    -  1.00e+00 4.55e-01f  1
  39 -1.8229366e+06 0.00e+00 1.20e+03  -1.0 3.76e-01    -  7.88e-01 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  40 -1.8229368e+06 0.00e+00 1.00e-06  -1.0 1.74e-03    -  1.00e+00 1.00e+00f  1
  41 -1.8230683e+06 0.00e+00 1.96e-01  -3.8 2.58e+00    -  9.92e-01 9.71e-01f  1
  42 -1.8230727e+06 0.00e+00 1.44e-07  -3.8 7.17e-01    -  1.00e+00 1.00e+00f  1
  43 -1.8230729e+06 0.00e+00 7.76e+02  -5.7 4.43e-02    -  1.00e+00 6.78e-01f  1
  44 -1.8230729e+06 0.00e+00 2.58e+03  -5.7 1.44e-02    -  1.00e+00 6.07e-01f  1
  45 -1.8230729e+06 0.00e+00 8.02e+02  -5.7 5.67e-03    -  1.00e+00 7.57e-01f  1
  46 -1.8230729e+06 0.00e+00 1.85e-11  -5.7 1.38e-03    -  1.00e+00 1.00e+00f  1
  47 -1.8230729e+06 0.00e+00 1.33e+02  -8.6 7.44e-05    -  1.00e+00 5.58e-01f  1
  48 -1.8230729e+06 0.00e+00 6.95e+01  -8.6 6.51e-05    -  1.00e+00 5.29e-01f  1
  49 -1.8230729e+06 0.00e+00 3.93e+01  -8.6 5.05e-05    -  3.30e-01 4.21e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  50 -1.8230729e+06 0.00e+00 1.38e+01  -8.6 7.13e-05    -  8.07e-01 6.73e-01f  1
  51 -1.8230729e+06 0.00e+00 3.71e+00  -8.6 5.72e-05    -  7.78e-01 7.31e-01f  1
  52 -1.8230729e+06 0.00e+00 7.45e-13  -8.6 5.66e-05    -  1.00e+00 1.00e+00f  1

Number of Iterations....: 52

                                   (scaled)                 (unscaled)
Objective...............:  -7.8952960686668719e+05   -1.8230729239405447e+06
Dual infeasibility......:   7.4514647630044535e-13    1.7205895174776181e-12
Constraint violation....:   0.0000000000000000e+00    0.0000000000000000e+00
Complementarity.........:   4.6348501635916272e-09    1.0702157039174889e-08
Overall NLP error.......:   4.6348501635916272e-09    1.0702157039174889e-08


Number of objective function evaluations             = 53
Number of objective gradient evaluations             = 53
Number of equality constraint evaluations            = 0
Number of inequality constraint evaluations          = 53
Number of equality constraint Jacobian evaluations   = 0
Number of inequality constraint Jacobian evaluations = 53
Number of Lagrangian Hessian evaluations             = 52
Total CPU secs in IPOPT (w/o function evaluations)   =      0.407
Total CPU secs in NLP function evaluations           =      0.004

EXIT: Optimal Solution Found.

Ipopt 3.12.13: Optimal Solution Found

suffix ipopt_zU_out OUT;
suffix ipopt_zL_out OUT;
Optimal seat allocation:
             x.val
AUS_BOS   0.000000
AUS_BUR   0.000000
AUS_BWI  27.559315
AUS_CAK   0.000000
AUS_CLE   0.000000
...            ...
SNA_MFR   0.000000
SNA_MSO   0.000000
SRQ_IAD   0.000000
VPS_BWI   0.000000
VPS_IAD   0.000000

[225 rows x 1 columns]

Aircraft assignment:
                                   r.val
index0  index1
AUS_BOS Airbus A319-100     1.330568e-09
        Airbus A320-200 A   0.000000e+00
        Airbus A320-200 B   0.000000e+00
        Boeing 737 MAX 200  0.000000e+00
AUS_BUR Airbus A319-100     0.000000e+00
...                                  ...
VPS_BWI Boeing 737 MAX 200  0.000000e+00
VPS_IAD Airbus A319-100     0.000000e+00
        Airbus A320-200 A   0.000000e+00
        Airbus A320-200 B   0.000000e+00
        Boeing 737 MAX 200  0.000000e+00

[900 rows x 1 columns]

Total profit: $1,823,072.91