## Optimization Model

The final part is to solve the optimization model with the gathered data and the model. Before doing so, we transform the test data collected from Allegiant Airlines.

In [37]:
# Import necessary libraries and modules
import numpy as np
import pandas as pd
from sklearn.preprocessing import TargetEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RandomizedSearchCV
import xgboost as xgb
from amplpy import AMPL, ampl_notebook
from joblib import load, dump
import sys
sys.path.append("../src")
from utils import cost_prediction
import warnings

warnings.filterwarnings("ignore")

In [40]:
allegiant_df = pd.read_csv("../data/allegiant_routes_info_transformed.csv")
allegiant_df["year"] = 2019
allegiant_df["quarter"] = 4
allegiant_df.head()

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4

In [41]:
allegiant_df["cost"] = cost_prediction(allegiant_df, 2019)
display(allegiant_df.head())

,distance,airport_1,airport_2,daily_passengers,state_1,city_1,state_2,city_2,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2,year,quarter,cost
0,1342,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.94394
1,1340,AUS,IAD,222.211864,TX,Austin,DC,Washington,1905945.0,1154.1,5116378.0,4235.7,30.264979,-97.746598,38.892062,-77.019912,2019,4,234.59380
2,587,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.76609
3,588,BNA,IAD,108.618644,TN,Nashville,DC,Washington,1177657.0,555.4,5116378.0,4235.7,36.166687,-86.779932,38.892062,-77.019912,2019,4,102.94116
4,612,BNA,PIE,42.760000,TN,Nashville,FL,Tampa,1177657.0,555.4,2861173.0,1320.9,36.166687,-86.779932,37.860600,-78.804199,2019,4,107.14284

In [42]:
preprocessing_pipeline = load("../models/preprocessing_pipeline.joblib")
feature_names = load("../models/feature_names.joblib")
allegiant_transformed_df = preprocessing_pipeline.transform(allegiant_df)
allegiant_transformed_df = pd.DataFrame(allegiant_transformed_df, columns=feature_names)
allegiant_transformed_df.head()

,quarter_1,quarter_2,quarter_3,quarter_4,city_1,city_2,airport_1,airport_2,state_1,state_2,year,distance,population_1,density_1,population_2,density_2,lat_1,lon_1,lat_2,lon_2
0,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.216246,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
1,-0.592028,-0.571486,-0.576259,1.755523,-0.042234,-0.013962,-0.032676,-0.502082,-0.099588,-0.003964,1.204085,0.213401,-0.694892,-0.715648,-0.172653,0.043854,-1.706588,-0.522360,0.127185,0.839496
2,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.857693,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
3,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,-0.013962,-0.117519,-0.502082,-1.044005,-0.003964,1.204085,-0.856271,-0.826930,-0.916193,-0.172653,0.043854,-0.465810,0.186579,0.127185,0.839496
4,-0.592028,-0.571486,-0.576259,1.755523,-0.162528,0.545563,-0.117519,-1.082934,-1.044005,1.068477,1.204085,-0.822132,-0.826930,-0.916193,-0.538597,-0.800943,-0.465810,0.186579,-0.091321,0.745495

In [43]:
# Reload the preprocessing pipeline and demand model to ensure compatibility
preprocessing_pipeline = load("../models/preprocessing_pipeline.joblib")
demand_model = load("../models/demand_prediction_model.joblib")

# Transform the data using the preprocessing pipeline
allegiant_transformed_df = preprocessing_pipeline.transform(allegiant_df)

# Predict the demand
allegiant_df["predicted_passengers"] = np.maximum(0, demand_model.predict(allegiant_transformed_df))

# Create the route column and select relevant columns
allegiant_df["route"] = allegiant_df["airport_1"] + "_" + allegiant_df["airport_2"]
allegiant_df = allegiant_df[["route", "predicted_passengers", "cost"]]

# Display the updated dataframe
display(allegiant_df.head())

     route  predicted_passengers       cost
0  AUS_IAD            314.190399  234.94394
1  AUS_IAD            314.190399  234.59380
2  BNA_IAD            220.477982  102.76609
3  BNA_IAD            220.477982  102.94116
4  BNA_PIE             55.914410  107.14284

In [44]:
fare_model = load("../models/route_fare_models.joblib")

allegiant_df["a"] = allegiant_df["route"].apply(lambda x: fare_model[x]["a"]).apply(lambda x: max(x, 0))
allegiant_df["b"] = allegiant_df["route"].apply(lambda x: fare_model[x]["b"]).apply(lambda x: max(x, 0))
allegiant_df["y"] = allegiant_df["route"].apply(lambda x: fare_model[x]["y"])

display(allegiant_df.head())

     route  predicted_passengers       cost             a        b         y
0  AUS_IAD            314.190399  234.94394  8.181866e+04  0.00015 -0.002792
1  AUS_IAD            314.190399  234.59380  8.181866e+04  0.00015 -0.002792
2  BNA_IAD            220.477982  102.76609  1.789587e-13  0.00170  0.017371
3  BNA_IAD            220.477982  102.94116  1.789587e-13  0.00170  0.017371
4  BNA_PIE             55.914410  107.14284  1.795778e+90  0.00000 -0.100730

In [45]:
fleet_df = pd.read_csv("../data/allegiant_fleet.csv")
display(fleet_df)

        Aircraft Type  Number of Aircraft  Seats
0     Airbus A319-100                  34    156
1   Airbus A320-200 A                  14    177
2   Airbus A320-200 B                  78    186
3  Boeing 737 MAX 200                   2    190

Instantiate the AMPL object

In [38]:
ampl = ampl_notebook(
    modules=["knitro", "coin"], # solver to be used
    license_uuid="d2b35988-195b-44a4-bca2-fd80a770586f" # license key
)

Licensed to AMPL Community Edition License for <hchoi0309@gmail.com>.

Define the model

In [39]:
%%ampl_eval
reset;  # Clear any previous model

# Sets
set ROUTES;                  # Set of routes
set AIRPLANE_TYPES;          # Set of airplane types

# Parameters
param a {ROUTES} >= 0;           # Base fare price coefficient
param b {ROUTES} >= 0;           # Price elasticity coefficient
param y {ROUTES};               # Yearly effect coefficient
param c {ROUTES} >= 0;          # Cost per seat
param N {ROUTES} >= 0;          # Predicted daily passengers
param C {AIRPLANE_TYPES} >= 0;  # Capacity of each airplane type
param R {AIRPLANE_TYPES} >= 0;  # Total airplanes of each type
param t >= 0, <= 1;            # Target market share
param year >= 0;               # Current year

# Variables
var x {ROUTES} >= 0;     # Daily number of seats sold
var r {ROUTES, AIRPLANE_TYPES} >= 0;  # Number of airplanes assigned

# Objective: Maximize profit
maximize Profit: 
    sum {i in ROUTES} (
        x[i] * (a[i] * exp(-b[i] * x[i] + y[i] * year) - c[i])
    );

# Constraints
subject to DemandLimit {i in ROUTES}:
    x[i] <= t * N[i];

subject to MinCapacity {i in ROUTES}:
    x[i] >= sum {k in AIRPLANE_TYPES} (0.7 * C[k] * r[i,k]);

subject to MaxCapacity {i in ROUTES}:
    x[i] <= sum {k in AIRPLANE_TYPES} (C[k] * r[i,k]);

subject to FleetLimit {k in AIRPLANE_TYPES}:
    sum {i in ROUTES} r[i,k] <= R[k];

Define the problem

In [46]:
# Load the data into AMPL
# Assuming allegiant_df and fleet_df are your dataframes containing the necessary data
ampl.set["ROUTES"] = allegiant_df["route"].unique()
ampl.set["AIRPLANE_TYPES"] = fleet_df["Aircraft Type"]

# Load parameters
ampl.param["a"] = {row["route"]: row["a"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["b"] = {row["route"]: row["b"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["y"] = {row["route"]: row["y"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["c"] = {row["route"]: row["cost"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}
ampl.param["N"] = {row["route"]: row["predicted_passengers"] for _, row in allegiant_df.drop_duplicates("route").iterrows()}

ampl.param["C"] = {row["Aircraft Type"]: row["Seats"] for _, row in fleet_df.iterrows()}
ampl.param["R"] = {row["Aircraft Type"]: row["Number of Aircraft"] for _, row in fleet_df.iterrows()}

ampl.param["t"] = 0.1  # Target market share (10%)
ampl.param["year"] = 2019  # Year of interest

# Set solver and solve
ampl.option["solver"] = "ipopt"  # Use ipopt for nonlinear optimization
ampl.solve()

# Get results
x_values = ampl.getVariable("x").getValues().toPandas()
r_values = ampl.getVariable("r").getValues().toPandas()
profit = ampl.getObjective("Profit").value()

print("Optimal seat allocation:")
print(x_values)
print("\nAircraft assignment:")
print(r_values)
print(f"\nTotal daily profit: ${profit:,.2f}")
print(f"Total quarterly profit: ${profit * 90:,.2f}")

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:        0
Number of nonzeros in inequality constraint Jacobian.:     3136
Number of nonzeros in Lagrangian Hessian.............:      137

Total number of variables............................:     1120
                     variables with only lower bounds:      896
                variables with lower and upper bounds:      224
                     variables with only upper bounds:        0
Total number of equality constraints.................:        0
Total number of inequality constraints...............:      452
        inequality constraints with only lower bounds:      224
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:      228

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0 -2.5246503e+01 4.96e+00 9.77e+01  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1 -2.8669395e+02 4.62e+00 9.67e+01  -1.0 4.80e+00    -  1.00e-02 6.67e-02f  1
   2 -1.6974408e+04 2.64e+00 6.32e+01  -1.0 4.27e+01    -  2.47e-03 4.16e-01f  1
   3 -1.8524523e+04 2.59e+00 6.16e+01  -1.0 4.14e+01    -  2.74e-02 1.98e-02f  1
   4 -4.9486318e+04 2.33e+00 6.16e+01  -1.0 4.45e+02    -  2.13e-03 9.50e-02f  1
   5 -8.4662844e+04 2.21e+00 6.06e+01  -1.0 8.67e+02    -  1.67e-02 5.17e-02f  1
   6 -1.2465521e+05 2.12e+00 5.94e+01  -1.0 1.01e+03    -  1.93e-02 3.91e-02f  1
   7 -1.4735963e+05 2.08e+00 5.81e+01  -1.0 7.84e+02    -  2.16e-02 1.85e-02f  1
   8 -2.6467102e+05 1.89e+00 5.77e+01  -1.0 7.12e+02    -  8.87e-03 8.36e-02f  1
   9 -3.2423717e+05 1.81e+00 5.68e+01  -1.0 2.11e+03    -  1.64e-02 4.06e-02f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10 -4.1406460e+05 1.70e+00 5.52e+01  -1.0 2.72e+03    -  2.77e-02 5.99e-02f  1
  11 -5.6288618e+05 1.52e+00 5.45e+01  -1.0 1.90e+03    -  1.42e-02 1.01e-01f  1
  12 -6.6085769e+05 1.34e+00 5.19e+01  -1.0 1.24e+03    -  4.92e-02 1.08e-01f  1
  13 -7.1981933e+05 1.12e+00 4.99e+01  -1.0 6.72e+02    -  3.98e-02 1.58e-01f  1
  14 -7.4335241e+05 9.02e-01 4.50e+01  -1.0 6.82e+02    -  9.97e-02 1.80e-01f  1
  15 -7.5562569e+05 6.59e-01 4.25e+01  -1.0 4.18e+02    -  5.86e-02 2.53e-01f  1
  16 -7.6187239e+05 4.57e-01 3.80e+01  -1.0 3.45e+02    -  1.07e-01 2.88e-01f  1
  17 -7.6502906e+05 2.81e-01 4.67e+01  -1.0 2.15e+02    -  1.46e-01 3.64e-01f  1
  18 -7.6571076e+05 1.55e-01 7.00e+01  -1.0 4.31e+01    -  2.06e-01 4.38e-01f  1
  19 -7.6615119e+05 7.43e-02 8.24e+01  -1.0 4.61e+01    -  3.74e-01 5.20e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20 -7.6625888e+05 1.16e-02 3.01e+02  -1.0 2.87e+01    -  3.96e-01 8.28e-01h  1
  21 -7.6621141e+05 8.79e-03 7.05e+02  -1.0 2.34e+01    -  6.03e-01 2.69e-01f  1
  22 -7.6594261e+05 0.00e+00 1.60e+02  -1.0 1.66e+01    -  7.53e-01 1.00e+00f  1
  23 -7.6595755e+05 0.00e+00 5.86e+01  -1.0 1.59e+01    -  9.99e-01 9.23e-01f  1
  24 -7.6595768e+05 0.00e+00 1.27e-06  -1.0 8.77e+00    -  1.00e+00 1.00e+00f  1
  25 -7.6672960e+05 0.00e+00 5.95e+01  -2.5 8.39e+00    -  8.02e-01 1.00e+00f  1
  26 -7.6673424e+05 0.00e+00 2.95e-05  -2.5 9.21e-01    -  1.00e+00 1.00e+00f  1
  27 -7.6675585e+05 0.00e+00 4.39e-06  -3.8 3.40e-01    -  1.00e+00 1.00e+00f  1
  28 -7.6675695e+05 0.00e+00 9.22e+00  -5.7 1.83e-02    -  1.00e+00 9.18e-01f  1
  29 -7.6675701e+05 0.00e+00 5.54e+02  -5.7 3.09e-01    -  1.00e+00 6.61e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30 -7.6675703e+05 0.00e+00 1.28e-10  -5.7 1.05e-01    -  1.00e+00 1.00e+00f  1
  31 -7.6675703e+05 0.00e+00 1.12e+02  -8.6 2.02e-04    -  1.00e+00 5.80e-01f  1
  32 -7.6675703e+05 0.00e+00 4.61e+01  -8.6 8.49e-05    -  1.00e+00 6.46e-01f  1
  33 -7.6675703e+05 0.00e+00 1.95e+01  -8.6 2.98e-05    -  1.00e+00 5.81e-01f  1
  34 -7.6675703e+05 0.00e+00 9.80e+00  -8.6 1.19e-05    -  1.00e+00 6.70e-01f  1
  35 -7.6675703e+05 0.00e+00 3.22e+00  -8.6 2.55e-06    -  1.00e+00 6.95e-01f  1
  36 -7.6675703e+05 0.00e+00 8.98e-13  -8.6 2.14e-07    -  1.00e+00 1.00e+00f  1

Number of Iterations....: 36

                                   (scaled)                 (unscaled)
Objective...............:  -8.1084937731105601e+04   -7.6675703441809409e+05
Dual infeasibility......:   8.9843633992965954e-13    8.4958119583490173e-12
Constraint violation....:   0.0000000000000000e+00    0.0000000000000000e+00
Complementarity.........:   4.0944147649007149e-09    3.8717688027632203e-08
Overall NLP error.......:   4.0944147649007149e-09    3.8717688027632203e-08


Number of objective function evaluations             = 37
Number of objective gradient evaluations             = 37
Number of equality constraint evaluations            = 0
Number of inequality constraint evaluations          = 37
Number of equality constraint Jacobian evaluations   = 0
Number of inequality constraint Jacobian evaluations = 37
Number of Lagrangian Hessian evaluations             = 36
Total CPU secs in IPOPT (w/o function evaluations)   =      0.370
Total CPU secs in NLP function evaluations           =      0.005

EXIT: Optimal Solution Found.

Ipopt 3.12.13: Optimal Solution Found

suffix ipopt_zU_out OUT;
suffix ipopt_zL_out OUT;
Optimal seat allocation:
             x.val
AUS_BOS   0.000000
AUS_BUR  13.988574
AUS_BWI  59.157849
AUS_CAK   0.000000
AUS_CLE   0.000000
...            ...
SNA_MFR   3.798541
SNA_MSO   4.168565
SRQ_IAD   4.852261
VPS_BWI   5.319332
VPS_IAD   3.610777

[225 rows x 1 columns]

Aircraft assignment:
                                   r.val
index0  index1
AUS_BOS Airbus A319-100     1.346618e-09
        Airbus A320-200 A   4.087998e-13
        Airbus A320-200 B   0.000000e+00
        Boeing 737 MAX 200  0.000000e+00
AUS_BUR Airbus A319-100     3.349035e-02
...                                  ...
VPS_BWI Boeing 737 MAX 200  6.804846e-03
VPS_IAD Airbus A319-100     7.840470e-03
        Airbus A320-200 A   6.817484e-03
        Airbus A320-200 B   6.582905e-03
        Boeing 737 MAX 200  5.022354e-03

[900 rows x 1 columns]

Total daily profit: $766,757.03
Total quarterly profit: $69,008,132.43